@*@model mvcinstance2.Models.Employee*@
@*@model mvcinstance2.ViewModes.EmployeeViewModel*@
@using mvcinstance2.ViewModels
@model EmployeeListViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    Welcome to MVC 5 Step by Step learning
   <div>
       @*@{ mvcinstance2.Models.Employee emp = (mvcinstance2.Models.Employee)ViewData["Employee"]; }*@
       @*@{ mvcinstance2.Models.Employee emp = (mvcinstance2.Models.Employee)ViewBag.Employee; }*@
       @*@{ mvcinstance2.Models.Employee emp = (mvcinstance2.Models.Employee)ViewData["Employee"]; }*@
       <b>Employee details</b><br/>
       @*Employee Name:@emp.FirstName@emp.LastName<br />*@
       @*Employee Salary:@emp.Salary;*@
       @*Emp Name:@Model.FirstName@Model.LastName<br />
       @if (Model.Salary > 15000)
       {
           <span style="background-color:yellow">
              emp salary:@Model.Salary.ToString("C")
           </span>

       }
       else
       {
        <span style="background-color:blue">
            emp salary:@Model.Salary.ToString("C")
        </span>
       }*@
       @*Emp Name:@Model.EmployeeName@Model.UserName<br />
       @if (Convert.ToInt32(Model.Salary) > 15000)
       {
           <span style="background-color:@Model.SalaryColor">
               emp salary:@Model.Salary
           </span>

       }
       else
       {
           <span style="background-color:@Model.SalaryColor">
               emp salary:@Model.Salary
           </span>
       }*@
       @*hello @Model.UserName*@
       <table>
           <tr>
               <th>name</th>
               <th>salary</th>
           </tr>
           @foreach (EmployeeViewModel item  in Model.listEmployeeViewModel)
           {
               <tr>
                   <td>@item.EmployeeName</td>
                   <td style="background-color:@item.SalaryColor">@item.Salary</td>
               </tr>
           }
       </table>
      <a href="/Employee/AddNew"> Add New</a>
   </div>
</body>
</html>
